body
    margin: 0
    padding: 0
    text-align: left
    position: relative
    background-image: url("../assets/grafismo-front.png")
    background-repeat: no-repeat
    background-position: 50% 1300%
    background-attachment: fixed
    background-size: 100%

.navbar
    background: white

.pagina
    height: 100vh
    padding-top: 56px
    background-repeat: no-repeat
    background-size: 100%

    &.produtos
        background-image: url("../assets/grafismo-back-cima.png")
        background-position: bottom center

    &.sobre, &.parceiros
        background-image: url("../assets/grafismo-back-baixo.png"), url("../assets/grafismo-back-cima.png")
        background-position: top center, bottom center

.produtos
    .destaque
        background-color: rgba(0,0,255,.7)
        background-image: url("../assets/roda.svg")
        height: 60vh
        .arrow
            background-image: url("../assets/arrow_slim.svg")
            background-repeat: no-repeat
            display: block
            width: 3vw
            // min-width: 50px
            height: 3vh
            // min-height: 30px
        .arrow-down
            transform: rotate(180deg)
    .lista-produtos
        height: 40vh
        padding-top: 20px

.produto-icone
    background-position: top center
    background-repeat: no-repeat
    background-size: 50px
    color: #666
    display: block
    font-size: .9em
    padding-top: 60px
    text-transform: uppercase
    text-align: center
    vertical-align: bottom

    span
        height: 20px
        display: inline-block
        vertical-align: top
    
    &.cadg
        background-image: url('../assets/icons/icon_cadg.svg')
    &.inloco
        background-image: url('../assets/icons/icon_inloco.svg')
    &.dpj
        background-image: url('../assets/icons/icon_dpj.svg')
    &.mpedia
        background-image: url('../assets/icons/icon_mpedia.svg')
    &.parquet-financeiro
        background-image: url('../assets/icons/icon_financeiro.svg')
    &.gqp
        background-image: url('../assets/icons/icon_gqp.svg')
    &.painel-gerencial
        background-image: url('../assets/icons/icon_painel.svg')
    &.lyra
        background-image: url('../assets/icons/icon_lyra.svg')
    &.zuleika
        background-image: url('../assets/icons/icon_zuleika.svg')
    &.sinapse
        background-image: url('../assets/icons/icon_sinapse.svg')
    &.everardo
        background-image: url('../assets/icons/icon_everaldo.svg')
    &.api
        background-image: url('../assets/icons/icon_api.svg')

.icones-parceiros
    margin-top: 10vh
    .col
        display: flex
        align-items: center
        justify-content: center
    img
        width: 80%
        filter: grayscale(1)
    a
        display: block
        position: relative
        &:hover img
            filter: grayscale(0)
        &:hover:after
            opacity: 0
        &:after
            content: ""
            position: absolute
            top: 0
            left: 50%
            margin-left: -40%
            width: 80%
            height: 100%
            z-index: 2
            background: #51aacc
            mix-blend-mode: color

// Microsoft Edge doesn't support mix-blend-mode, so we hide it all
_:-ms-fullscreen, :root .icones-parceiros a:after
    display: none

footer
    background: cyan
    color: white
    min-height: 10vh
